.Button {
  align-self: center;
  border-radius: 5px;
  border: 4px solid black;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  text-transform: uppercase;
  font-family: "Odibee Sans", monospace;
  color: black;
  background-color: #CC8D37;
}

.Button:hover {
  border-color: transparent;
  cursor: pointer;
  background-color: #AA534E;
  color: black;
  border: 4px solid black;
}


.Button:hover:active {
  background-color: #AA534E !important;
  border: 4px solid black;
}

.Button:active {
  background-color: #E15D05 !important;
  
}

.Button:focus {
  background-color: #E15D05 !important;

} 

.Wide {
  padding: 10px 50px;
  width: 90%;
  border: 4px solid black;
}


.Follow, 
.FollowOutline:hover {
  background-color: #AA534E;
  color: white;
  
}

.Follow:hover,
.FollowOutline {
  background-color: #372E38;
  color: white;
  border-color: black;
}
