.Container {
  background-color: #fde9a2;
  border: 3px solid black;
  border-radius: 5px;
  height: 100%;  
}

@keyframes LogoAnimation {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

.LogoContainer {
  border: 3px solid black;
  border-radius: 5px;
  width: 200px;
  background-color: #cc8d37;
  display: inline-flex;
  flex: center;
  -webkit-box-shadow: inset 0px 0px 39px -7px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: inset 0px 0px 39px -7px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 39px -7px rgba(0, 0, 0, 0.71);
  animation: LogoAnimation 1.5s ease-in 0s 1 normal forwards;

}

.LogoContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
}


.Logo {
  object-fit: cover;
  max-width: 200px;
}

.Title {
  font-family: "Odibee Sans", sans-serif;
  font-size: 16vw;
  text-decoration: underline 10px solid black;
}

.CardContainer {
  /* display: inline-flex; */
  background-color: #fde9a2;
  border: 3px solid black;
  border-radius: 5px;
  height: 100%;  
  justify-content: center;
}

.CardCol {
  /* align-items: center; */
  /* justify-content: center; */
/* display: inline-flex; */

/* flex-direction: row; */
  /* margin: 20px 0px 10px 10px; */
  
}

.CardTitle {
  font-family: "Odibee Sans", sans-serif;
  font-size: 30px;
}

.Subtitle {
  font-family: "Barlow Condensed", sans-serif;
}

.Body {
  font-family: "Roboto", sans-serif;
}


.Card {
  border: 5px solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  
}

.CardImg {
  width: 100%;
  height: 15vw;
  object-fit: contain;
  margin-top: 10px;
}

.Icon {
  border: 3px solid black;
  border-radius: 5px;
}
