.Container {
    background-color: #FDE9A2;
    border: 3px solid black;
    border-radius: 5px;
    height: 100%;
}

.LogoContainer {
    border: 3px solid black;
    border-radius: 5px;
    width: 200px;
    background-color: #CC8D37;
    display: inline-flex;
    flex: center;
    box-shadow: 5px black;
}

.Logo {
    object-fit: cover;
    max-width: 200px;
}

.Title {   
    font-family: "Odibee Sans", sans-serif;
    font-size: 16vw;
    text-decoration: underline 10px solid black;
}

.CardTitle {
    font-family: "Odibee Sans", sans-serif;
    font-size: 30px;
}

.Subtitle {
    font-family: "Barlow Condensed", sans-serif;
}

.Body {
    font-family: "Roboto", sans-serif;
}

.Card {
    border: 5px solid black;
    border-radius: 5px;
    width: 18rem;
}

.CardImg {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    margin-top: 10px;

}

.Icon {
    border: 3px solid black;
    border-radius: 5px;
    
}