.DropdownItem {
  display: inline-flex;
  max-width: 50%;
  padding: 0px;
  margin: 0px;
}

.DropdownItem:hover {
  background-color: #fde9a2;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.Font {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

.General {
  background-color: #fde9a2;
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 10px;
}

.Hover:hover,
.Hover:focus {
  background-color: #fde9a2;
  text-decoration: solid underline 3px black;
  color: black;
}

.Container {
  max-width: 50px;
}
