.NavBar {
    background-color: #E15D05;
    font-family: "Black Ops One", monospace;
    color: black;
    font-size: 1.3rem;
    border: 4px solid black;
}

a {
    color: black !important;
}

a:hover {
    font-size: 1.4rem;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
}