.NavBar {
    background-color: #FDE9A2;
    font-family: "Odibee Sans", monospace;
    color: black;
    font-size: 1.6em;
    border: 2px solid black;
}

.NavLink {
    color: black !important;
    padding-left: 15px;
    text-align: center;
}

.NavLink:hover {
    
    text-decoration: underline overline;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

.Active {
    text-decoration: underline overline;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}