.Post {
    background-color: #FDE9A2;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

  .Post span {
    color: #372E38;
  }
  
  .Thumb {
    color: #f85032;

  }
  
  .Thumb:hover {
    color: #372E38;
  }
  
  .ThumbOutline:hover {
    color: #f85032;
  }

  .PostBar {
    font-family: "Odibee Sans", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 6px;
  }

  .PostTitle {
    font-family: "Odibee Sans", sans-serif;

  }

  .PostBody {
    font-family: "Roboto", sans-serif;
  }