.Row {
  height: 80vh;
}
.Input, .Input:focus {
  background: #ffffff;
  border: 2px solid black;
  text-align: left;
  padding: 10px;
  font-family: "Barlow Condensed", sans-serif;
  box-shadow: none;
}

.Header {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: "Odibee Sans", sans-serif;
  color: black;
}

.Font {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}

.Font2 {
  font-family: "Odibee Sans", sans-serif;
  font-size: 30px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none !important;
}

.Link span {
  color: #cc8d37;
  font-weight: bolder;
}
.Link span:hover {
  text-decoration: underline;
  text-decoration-color: #cc8d37;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}
