.App {
    background-color: #d7cdcd;
    min-height: 100vh;
}

.Main {
    padding-top: 100px;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid black;
  }
  
  .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
    
  }