.App {
    background-color: #8A4F33;
    min-height: 100vh;
}

.Main {
    padding-top: 100px;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid black;
  }
  
.File {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
    
  }

.Content {
    background-color: #FDE9A2;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }

 